---
import Layout from '~/layouts/PageLayout.astro';
import { Image } from 'astro:assets';
import Header from '~/components/widgets/Header.astro';
import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Brands from '~/components/widgets/Brands.astro';
import Steps from '~/components/widgets/Steps.astro';

import profile from '../assets/images/profile.jpg'
import t_0 from '../assets/images/t_0.png'
import t_1 from '../assets/images/t_1.png'
import t_2 from '../assets/images/t_2.png'
import t_3 from '../assets/images/t_3.png'
import t_4 from '../assets/images/t_4.png'
import t_5 from '../assets/images/t_5.png'
import t_6 from '../assets/images/t_6.png'
import t_7 from '../assets/images/t_7.png'
import t2 from '../assets/images/t_2.jpg'

const metadata = {
  title: 'My portfolio',
};
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>
  <Fragment slot="header">
    <Header
      links={[
        { text: 'Home', href: '#' },
        { text: 'About', href: '#about' },
        { text: 'Resume', href: '#resume' },
        { text: 'Porfolio', href: '#porfolio' },
        { text: 'Github', href: 'https://github.com/onwidget' },
      ]}
      actions={[
        {
          text: 'Hire me',
          href: '#',
        },
      ]}
      isSticky
      showToggleTheme
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero
    id="hero"
    title="Moisés Alarcón"
    tagline="Young Talent"
    actions={[{ variant: "primary", target: '_blank', text: 'Hire me', href: '/' }]}
  >
    <Fragment slot="subtitle">
      I'm passionate innovator and programmer with 3 years of hands-on experience and a Fullstack development degree 
      from Bottega University, I adeptly transform ideas into efficient applications, revitalizing projects and brands
    </Fragment>
  </Hero>

  <!-- Content Widget **************** -->

  <Content
    id="about"
    columns={3}
    items={[
      {
        icon: 'tabler:brand-linkedin',
        callToAction: {
          target: '_blank',
          text: 'Linkedin',
          href: 'https://www.linkedin.com/in/mois%C3%A9s-alarc%C3%B3n-206b95212/',
        },
      },
      {
        icon: 'tabler:brand-github-filled',
        callToAction: {
          target: '_blank',
          text: 'Github',
          href: 'https://github.com/MoisesAlarcon',
        },
      },
      {
        icon: 'tabler:brand-whatsapp',
        callToAction: {
          target: '_blank',
          text: '633 15 18 95',
        },
      },
    ]}
    image={{
      src: profile,
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">About me</h3>
      <p>
        I began programming at 17 and launched my first website that year, a video game tournament page. 
        At 18, I earned a full-stack web development scholarship from Bottega University.
      </p>
      <br />
      <p>
        Due to my passion for <span class="font-extrabold text-[#1e40af]">innovation</span>, 
        <span class="font-extrabold text-[#1e40af]">continuous learning</span>, 
        <span class="font-extrabold text-[#1e40af]">proactiveness</span> and
         <span class="font-extrabold text-[#1e40af]">entrepreneurial spirit</span>, I was recognized 
        at the age of 19 in national awards such as the <span class="underline">2022 Entrepreneurship Competition</span>  I also won the 
        <span class="underline">Hackathon Talent in Madrid</span>
        from Demium. At 20, my startup was selected as one of the <span class="underline">Top 10 Cleantech Ideas in Spain</span>
      </p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Brands
  title="Technologies"
  subtitle="Technologies in which I have experience and knowledge"
  icons={[]}
  />  

  <div class="flex justify-center my-2 lg:my-4 py-1 md:px-[70px] px-3 gap-[49px] rounded-md dark:bg-transparent">
    <Image src={t_1} alt="tech" class="max-h-12 w-[100px] h-[100px]" />
    <Image src={t_0} alt="tech" class="max-h-12 w-[100px] h-[100px]" />
    <Image src={t_2} alt="tech" class="max-h-12 w-[100px] h-[100px]" />
    <Image src={t_3} alt="tech" class="max-h-12 w-[100px] h-[100px]" />
    <Image src={t_4} alt="tech" class="max-h-12 w-[100px] h-[100px]" />
    <Image src={t_5} alt="tech" class="max-h-12 w-[100px] h-[100px]" />
    <Image src={t_6} alt="tech" class="max-h-12 w-[100px] h-[100px]" />
    <Image src={t_7} alt="tech" class="max-h-12 w-[100px] h-[100px]" />
  </div>

  <Steps
    id="resume"
    title="Work experience"
    items={[
      {
        title:
          'Graphic Designer <br /> <span class="font-normal">ABC Design Studio, New York, NY</span> <br /> <span class="text-sm font-normal">2021 - Present</span>',
        description: `Collaborate with clients to understand design requirements and objectives. <br /> Develop branding solutions, including logos, color palettes, and brand guidelines. <br /> Design marketing materials such as brochures, posters, and digital assets. <br /> Create visually appealing user interfaces for websites and applications.`,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Junior Graphic Designer <br /> <span class="font-normal">XYZ Creative Agency, Los Angeles, CA</span> <br /> <span class="text-sm font-normal">2018 - 2021</span>',
        description: `Assisted senor designers in creating design concepts and visual assets. <br /> Contributed to the development of brand identities and marketing collateral. <br /> Collaborated with the marketing team to ensure consistent design across campaigns. <br /> Gained hands-on experience in various design software and tools.`,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Junior Graphic Designer <br /> <span class="font-normal">XYZ Creative Agency, Los Angeles, CA</span> <br /> <span class="text-sm font-normal">2018 - 2021</span>',
        description: `Assisted senor designers in creating design concepts and visual assets. <br /> Contributed to the development of brand identities and marketing collateral. <br /> Collaborated with the marketing team to ensure consistent design across campaigns. <br /> Gained hands-on experience in various design software and tools.`,
        icon: 'tabler:briefcase',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- Steps Widget ****************** -->

  <Steps
    id="resume"
    title="Education"
    items={[
      {
        title: `Master's Degree in Fintech and Digital Financial Services <br /> <span class="font-normal">IEBS Business School</span> <br /> <span class="text-sm font-normal">2022 - 2023</span>`,
        icon: 'tabler:school',
      },
      {
        title: `Full Stack Development Program <br /> <span class="font-normal">Bottega University</span> <br /> <span class="text-sm font-normal">2020 - 2021</span>`,
        icon: 'tabler:school',
      },
      {
        title: `Full Stack Development Program <br /> <span class="font-normal">Bottega University</span> <br /> <span class="text-sm font-normal">2020 - 2021</span>`,
        icon: 'tabler:school',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- Content Widget **************** -->

  <Content
    id="porfolio"
    title="Elevating visual narratives"
    subtitle="Embark on a design journey that surpasses pixels, entering a realm of imagination. Explore my portfolio, where passion and creativity converge to shape enthralling visual narratives."
    isReversed
    items={[
      {
        title: 'Description:',
        description:
          'Developed a comprehensive brand identity for a tech startup, Tech Innovators, specializing in disruptive innovations. The goal was to convey a modern yet approachable image that resonated with both corporate clients and tech enthusiasts.',
      },
      {
        title: 'Role:',
        description:
          'Led the entire branding process from concept to execution. Created a dynamic logo that symbolized innovation, selected a vibrant color palette, and I designed corporate stationery, website graphics, and social media assets.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1658248165252-71e116af1b34?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=928&q=80',
      alt: 'Tech Design Image',
    }}
    callToAction={{
      target: '_blank',
      text: 'Go to the project',
      icon: 'tabler:chevron-right',
      href: '#',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Project 1: <br /><span class="text-2xl">Brand identity for tech innovators</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Description:',
        description:
          'Designed a captivating event poster for an art and music festival, "ArtWave Fusion," aiming to showcase the synergy between visual art and music genres.',
      },
      {
        title: 'Role:',
        description: `Translated the festival's creative theme into a visually striking poster. Used bold typography, vibrant colors, and abstract elements to depict the fusion of art and music. Ensured the design captured the festival's vibrant atmosphere.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1619983081563-430f63602796?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
      alt: 'Art and Music Poster Image',
    }}
    callToAction={{
      target: '_blank',
      text: 'Go to the project',
      icon: 'tabler:chevron-right',
      href: '#',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Project 2: <br /><span class="text-2xl">Event poster for art & music festival</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Description:',
        description: `Redesigned the e-commerce website for an eco-conscious fashion brand, GreenVogue. The objective was to align the brand's online presence with its sustainable ethos and improve user experience.`,
      },
      {
        title: 'Role:',
        description: `Conducted a thorough analysis of the brand's values and customer base to inform the design direction. Created a visually appealing interface with intuitive navigation, highlighting sustainable materials, and integrating a user-friendly shopping experience.`,
      },
    ]}
    image={{
      src: 'https://plus.unsplash.com/premium_photo-1683288295841-782fa47e4770?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80',
      alt: 'Fashion e-commerce Image',
    }}
    callToAction={{
      target: '_blank',
      text: 'Go to the project',
      icon: 'tabler:chevron-right',
      href: '#',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Project 3: <br /><span class="text-2xl">E-commerce website redesign for fashion brand</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- CallToAction Widget *********** -->

  <CallToAction
    title="Let's create together"
    subtitle="Ready to transform your vision into captivating designs?"
    actions={[{
      variant:"primary",
      text: 'Hire me',
      href: '/',
    }]}
  />

</Layout>
