---
import Layout from '~/layouts/PageLayout.astro';
import { Image } from 'astro:assets';
import Header from '~/components/widgets/Header.astro';
import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Brands from '~/components/widgets/Brands.astro';
import Steps from '~/components/widgets/Steps.astro';

import profile from '../assets/images/profile.jpg'
import t_0 from '../assets/images/t_0.png'
import t_1 from '../assets/images/t_1.png'
import t_2 from '../assets/images/t_2.png'
import t_3 from '../assets/images/t_3.png'
import t_4 from '../assets/images/t_4.png'
import t_5 from '../assets/images/t_5.png'
import t_6 from '../assets/images/t_6.png'
import t_7 from '../assets/images/t_7.png'
import demium from '../assets/images/demium.jpg'
import carb from '../assets/images/carb.jpeg'
import carb1 from '../assets/images/carb1.jpg'
import ieb from '../assets/images/ieb.jpg'

const metadata = {
  title: 'My portfolio',
};
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>
  <Fragment slot="header">
    <Header
      links={[
        { text: 'Home', href: '#' },
        { text: 'About', href: '#about' },
        { text: 'Resume', href: '#resume' },
        { text: 'Porfolio', href: '#porfolio' },
        { text: 'Linkedin', href: 'https://www.linkedin.com/in/mois%C3%A9s-alarc%C3%B3n-206b95212/' },
      ]}
      actions={[
        {
          text: 'Hire me',
          href: '#',
        },
      ]}
      isSticky
      showToggleTheme
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero
    id="hero"
    title="Moisés Alarcón"
    tagline="Young Talent"
    actions={[{ variant: "primary", target: '_blank', text: 'Hire me', href: '/' }]}
  >
    <Fragment slot="subtitle">
      I'm passionate innovator and programmer with 3 years of hands-on experience and a Fullstack development degree 
      from Bottega University, I adeptly transform ideas into efficient applications, revitalizing projects and brands
    </Fragment>
  </Hero>

  <!-- Content Widget **************** -->

  <Content
    id="about"
    columns={3}
    items={[
      {
        icon: 'tabler:brand-linkedin',
        callToAction: {
          target: '_blank',
          text: 'Linkedin',
          href: 'https://www.linkedin.com/in/mois%C3%A9s-alarc%C3%B3n-206b95212/',
        },
      },
      {
        icon: 'tabler:brand-github-filled',
        callToAction: {
          target: '_blank',
          text: 'Github',
          href: 'https://github.com/MoisesAlarcon',
        },
      },
      {
        icon: 'tabler:brand-whatsapp',
        callToAction: {
          target: '_blank',
          text: '633 15 18 95',
        },
      },
    ]}
    image={{
      src: profile,
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">About me</h3>
      <p>
        I began programming at 17 and launched my first website that year, a video game tournament page. 
        At 18, I earned a full-stack web development scholarship from Bottega University.
      </p>
      <br />
      <p>
        Due to my passion for <span class="font-extrabold text-[#1e40af]">innovation</span>, 
        <span class="font-extrabold text-[#1e40af]">continuous learning</span>, 
        <span class="font-extrabold text-[#1e40af]">proactiveness</span> and
         <span class="font-extrabold text-[#1e40af]">entrepreneurial spirit</span>, I was recognized 
        at the age of 19 in national awards such as the <span class="underline">2022 Entrepreneurship Competition</span>  I also won the 
        <span class="underline">Hackathon Talent in Madrid</span>
        from Demium. At 20, my startup was selected as one of the <span class="underline">Top 10 Cleantech Ideas in Spain</span>
      </p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Brands
  title="Technologies"
  subtitle="Technologies in which I have experience and knowledge"
  icons={[]}
  />  

  <div class="flex justify-center my-2 lg:my-4 py-1 md:px-[70px] px-3 gap-[49px] rounded-md dark:bg-transparent">
    <Image src={t_1} alt="tech" class="max-h-12 w-[100px] h-[100px]" />
    <Image src={t_0} alt="tech" class="max-h-12 w-[100px] h-[100px]" />
    <Image src={t_2} alt="tech" class="max-h-12 w-[100px] h-[100px]" />
    <Image src={t_3} alt="tech" class="max-h-12 w-[100px] h-[100px]" />
    <Image src={t_4} alt="tech" class="max-h-12 w-[100px] h-[100px]" />
    <Image src={t_5} alt="tech" class="max-h-12 w-[100px] h-[100px]" />
    <Image src={t_6} alt="tech" class="max-h-12 w-[100px] h-[100px]" />
    <Image src={t_7} alt="tech" class="max-h-12 w-[100px] h-[100px]" />
  </div>

  <Steps
    id="resume"
    title="Work experience"
    items={[
      {
        title:
          'Fullstack Developer <br /> <span class="font-normal">Carbtrace</span> <br /> <span class="text-sm font-normal">2023</span>',
        description: `Development of applications from scratch including database:
MySQL. Frontend: React, JavaScript, Library Management,
MaterialUI. Backend: Node.js, Python, Flask. Award-winning
accounting application for companies, recognized as one of the
10 best cleantech startups in Spain in 2023..`,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Fullstack developer <br /> <span class="font-normal">Demium</span> <br /> <span class="text-sm font-normal">2022 - 2023</span>',
        description: `Selected by Demium Startups during one of their talent
acquisition events in Madrid. Proficient in MVP (Minimum Viable
Product) development, web design, and sales. Experienced in
creating financial models for companies and conducting market
analysis.
`,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Freelance Web Developer <br /> <span class="font-normal">Freelance Development</span> <br /> <span class="text-sm font-normal">2020 - 2022</span>',
        description: `Freelance programming experience, encompassing projects of
diverse scope, from crafting a React website for a pastry shop
to developing a WordPress site for a restaurant with reservation
functionality. Also involved in creating a video game tournament
website using HTML, CSS, and JavaScript, among other
endeavors.`,
        icon: 'tabler:briefcase',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- Steps Widget ****************** -->

  <Steps
    id="resume"
    title="Education"
    items={[
      {
        title: `Master's Degree in Fintech and Digital Financial Services <br /> <span class="font-normal">IEBS Business School</span> <br /> <span class="text-sm font-normal">2022 - 2023</span>`,
        icon: 'tabler:school',
      },
      {
        title: `Backend development <br /> <span class="font-normal">Technical University of Madrid</span> <br /> <span class="text-sm font-normal">2021 - 2022</span>`,
        icon: 'tabler:school',
      },
      {
        title: `Full Stack Development Program <br /> <span class="font-normal">Bottega University</span> <br /> <span class="text-sm font-normal">2020 - 2021</span>`,
        icon: 'tabler:school',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- Content Widget **************** -->

  <Content
    id="porfolio"
    title="My Achievements"
    subtitle="Some of the achievements I am proud of include:"
    isReversed
    items={[
      {
        title: 'Description:',
        description:
          'My startup ranked among the top 10 in Spain in the Cleantech category, requiring me to pitch it to a panel of industry experts. I was responsible for the technology division',
      },
    ]}
    image={{
      src: demium,
      alt: 'Tech Design Image',
    }}
    callToAction={{
      target: '_blank',
      text: 'Go to Demium',
      icon: 'tabler:chevron-right',
      href: 'https://www.levante-emv.com/innovadores/2023/05/18/dinapsis-valencia-acoge-bootcamp-climate-87533679.html',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Finalist in the Top 10 Cleantech Ideas in Spain
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Description:',
        description:
          'Selected as Madrid Talent in a Demium Startups hackathon, winning entry into an incubation program. Led technology development, gaining expertise in innovation and scaling for businesses',
      },
    ]}
    image={{
      src: carb1,
      alt: 'Art and Music Poster Image',
    }}
    callToAction={{
      target: '_blank',
      text: 'Go to Website',
      icon: 'tabler:chevron-right',
      href: 'https://www.instagram.com/demium_startups/',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Selected as Madrid Talent by Demium Startups
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Description:',
        description: `I won first place in the Fintech category of the IEBS Annual Entrepreneurship Competition, obtaining a scholarship for a master's program. This experience significantly expanded my knowledge and technological base.`,
      },
    ]}
    image={{
      src: ieb,
      alt: 'Fashion e-commerce Image',
    }}
    callToAction={{
      target: '_blank',
      text: 'Go to the website',
      icon: 'tabler:chevron-right',
      href: 'https://www.iebschool.com/conocenos/becas-y-ayudas/concurso-emprendedores/',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Winner of the 2022 Entrepreneurship Competition
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- CallToAction Widget *********** -->

  <CallToAction
    title="Let's create together"
    subtitle="Ready to transform your vision into captivating designs?"
    actions={[{
      variant:"primary",
      text: 'Hire me',
      href: '/',
    }]}
  />

</Layout>
